extends layout

block content

  h1 Kim and Robin's Backpacking Gear Checklist

  table
    tr
      td Item
      td Value
      td Person

      each item in gearInfo.itemName
        tr
          td= item
          td= false
          td= ''
